VITE_NETWORK=testnet
VITE_CONTRACT_ADDRESS=
VITE_MIDNIGHT_NETWORK=preprod
VITE_API_URL=http://localhost:3001/api
VITE_PROOF_SERVER_URL=http://localhost:6300
VITE_RPC_URL=http://localhost:9944
VITE_INDEXER_URL=http://localhost:8080
VITE_LACE_NETWORK=midnight-testnet
